<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/style.css') }}" />
  <link type="text/css" href="{{ static_url('styles/screen.css') }}" media="screen, projection" rel="stylesheet" />
  <link type="text/css" href="{{ static_url('styles/print.css') }}" media="print" rel="stylesheet" />
  <!--[if IE]>
      <link href="{{ static_url('styles/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
      <title>{{ escape(handler.settings["titre"]) }}</title>
  </head>
  <body>
    <div id="topfixed">
      <div class="userinfo">
        Matthieu Grillere
      </div>
      <img src="{{ static_url('images/haku.jpg') }}"/>
      <a href="#"> Connection </a>
    </div>
    <div id="corp">
    {% block body %}{% end %}
    </div>
    <script type="text/javascript">
      {% block script %}{% end %}
    </script>
  </body>
</html>
