{% extends "layout.html" %}

{% block body %}
<div class="detail-offre">
<h1>{{ offre.nom }}</h1>
<p>{% module Markdown(offre.description) %}</p>
{% if offre.type == 'vente' %}
<p>Prix : {{ offre.prix }} €</p>
{% elif offre.type == 'don' %}
<p>Gratuit</p>
{% elif offre.type == 'pret' %}
<p>Prêt</p>
{% end %}
<p>Vendeur : {{ offre.vendeur.nom_complet }}</p>
{% if offre.date_annule %}
<p>Offre annulée</p>
{% elif offre.date_conclusion %}
<p>Offre terminée</p>
{% end %}
</div>
<div class="messages">
<a href="#">Proposition d'achat</a>
<a href="#">Message</a>
{% for message in offre.messages %}
<div class="message">
  
</div>
{% end %}
</div>
{% end %}