{% extends "layout.html" %}

{% block body %}
<div class="detail-offre">
<h1>{{ vente.nom }} <a href="#">Edit</a></h1>
<p>{% module Markdown(vente.description) %}</p>
<p>Prix : {{ vente.prix }} €</p>
<p>Vendeur : {{ vente.vendeur.nom_complet }}</p>
{% if vente.date_annule %}
<p>Vente annulée</p>
{% elif vente.date_conclusion %}
<p>Vente terminée</p>
{% end %}
</div>
<div class="messages">
<a href="#achat">Proposition d'achat</a>
<a href="#message">Message</a>
{% for message in vente.messages %}
<div class="message">
  
</div>
{% end %}
</div>
{% end %}